<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="board/fragments/header :: main-head"></head>
	<body>
		<form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display: none;">
			<input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}" />
		</form>

		<script th:src="@{/scripts/common.js}"></script>

		<th:block layout:fragment="script">
			<script th:inline="javascript">
			/* <![CDATA[ */
				//이 화면에 리소스들이 실행이 되면
				window.onload = function() {
					var message = /*[[ ${message} ]]*/null;
					if (isEmpty(message) == false) { //isEmpty는 어디서 나온 메소드일까?
						alert(message);				 //common.js파일에 isEmpty
					}

					var params = /*[[ ${params} ]]*/null;
					if (isEmpty(params) == false) {
						document.dataForm.submit(); //5번째 줄의 form
					} else {
						var redirectUri = /*[[ ${redirectUri} ]]*/null;
						location.href = redirectUri;
					}
				}
				/*[- end of onload -]*/

			/* ]]> */
			</script>
		</th:block>
	</body>
</html>